.eventscheduler-container {
  display: flex;
  height: 100vh;
  background-color: #fdf8ee;
  transition: background-color 0.3s ease;
}

body.dark-mode .eventscheduler-container {
  background-color: #212121;
}

.eventscheduler-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  overflow: hidden;
}

.eventscheduler-main {
  flex: 1;
  overflow-y: auto;
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.eventscheduler-main::-webkit-scrollbar {
  width: 0px;
}

.welcome-events-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.welcome-banner-section {
  flex: 1;
  min-width: 500px;
}

.event-list{
  display : flex;
}